Repository Ciro-AI-Labs/ciro-network, changes with the owners that CODEOWNERS names for each.
All owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/smart-contract-team, @Ciro-AI-Labs/rust-team, @Ciro-AI-Labs/frontend-team, @Ciro-AI-Labs/docs-team, @Ciro-AI-Labs/devops-team, @Ciro-AI-Labs/security-team, @Ciro-AI-Labs/project-team

feat: Implement comprehensive BSL 1.1 licensing strategy
  CONTRIBUTOR_LICENSE_AGREEMENT.md
  LICENSE
  LICENSE-APACHE
  LICENSE-BSL
  LICENSE-MIT
  LICENSING_STRATEGY.md
  README.md
  WHY_BSL_FOR_CIRO.md
  cairo-contracts/src/cdc_pool.cairo
  cairo-contracts/src/ciro_token.cairo
  cairo-contracts/src/job_manager.cairo
  docs/src/legal/license.md
  src/tokenomics_engine.py
  tests/test_core_mechanics.py
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/docs-team, @Ciro-AI-Labs/smart-contract-team

feat: Complete CIRO Network DAO ecosystem deployment
  .gitignore
  cairo-contracts/DEPLOYMENT_STATUS.md
  cairo-contracts/FINAL_MAINNET_STATUS.md
  cairo-contracts/INTEGRATION_TESTING.md
  cairo-contracts/INTEGRATION_TESTING_SUMMARY.md
  cairo-contracts/MAINNET_PREPARATION_SUMMARY.md
  cairo-contracts/TESTNET_LAUNCH_RECOMMENDATION.md
  cairo-contracts/TESTNET_READY_STATUS.md
  cairo-contracts/TESTNET_SETUP_GUIDE.md
  cairo-contracts/optimization/GAS_OPTIMIZATION_GUIDE.md
  cairo-contracts/run_integration_tests.sh
  cairo-contracts/security/SECURITY_AUDIT_CHECKLIST.md
  cairo-contracts/security/security_audit_tools.cairo
  cairo-contracts/src/cdc_pool.cairo
  cairo-contracts/src/ciro_token.cairo
  cairo-contracts/src/governance/governance_treasury.cairo
  cairo-contracts/src/interfaces/cdc_pool.cairo
  cairo-contracts/src/interfaces/ciro_token.cairo
  cairo-contracts/src/interfaces/job_manager.cairo
  cairo-contracts/src/interfaces/proof_verifier.cairo
  cairo-contracts/src/job_manager.cairo
  cairo-contracts/src/lib.cairo
  cairo-contracts/src/utils/constants.cairo
  cairo-contracts/src/utils/governance.cairo
  cairo-contracts/src/utils/interactions.cairo
  cairo-contracts/src/utils/security.cairo
  cairo-contracts/src/utils/types.cairo
  cairo-contracts/src/utils/upgradability.cairo
  cairo-contracts/src/vesting/burn_manager.cairo
  cairo-contracts/src/vesting/linear_vesting_with_cliff.cairo
  cairo-contracts/src/vesting/milestone_vesting.cairo
  cairo-contracts/src/vesting/treasury_timelock.cairo
  cairo-contracts/testnet_account.json
  cairo-contracts/testnet_contracts.json
  cairo-contracts/testnet_declarations.json
  cairo-contracts/tests/integration_test.cairo
  cairo-contracts/tests/mod.cairo
  cairo-contracts/verify_mainnet_readiness.sh
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/smart-contract-team

refactor: Clean repository for public release
  .gitignore
  cairo-contracts/DEPLOYMENT_GUIDE.md
  cairo-contracts/DEPLOYMENT_QUICKSTART.md
  cairo-contracts/DEPLOYMENT_STATUS.md
  cairo-contracts/FINAL_MAINNET_STATUS.md
  cairo-contracts/INTEGRATION_TESTING.md
  cairo-contracts/INTEGRATION_TESTING_SUMMARY.md
  cairo-contracts/MAINNET_PREPARATION_SUMMARY.md
  cairo-contracts/README.md
  cairo-contracts/TESTNET_LAUNCH_RECOMMENDATION.md
  cairo-contracts/TESTNET_READY_STATUS.md
  cairo-contracts/TESTNET_SETUP_GUIDE.md
  cairo-contracts/docs/CDC_Pool_Documentation.md
  cairo-contracts/docs/CIRO_Multichain_Strategy.md
  cairo-contracts/docs/CIRO_Token_Tokenomics_FINAL.md
  cairo-contracts/docs/DUAL_PURPOSE_ARCHITECTURE.md
  cairo-contracts/optimization/GAS_OPTIMIZATION_GUIDE.md
  cairo-contracts/run_integration_tests.sh
  cairo-contracts/security/SECURITY_AUDIT_CHECKLIST.md
  cairo-contracts/security/security_audit_tools.cairo
  cairo-contracts/testnet_account.json
  cairo-contracts/testnet_contracts.json
  cairo-contracts/testnet_declarations.json
  cairo-contracts/tests/integration_test.cairo
  cairo-contracts/verify_mainnet_readiness.sh
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/smart-contract-team

fix: Update GitHub Actions workflows for current project structure
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @Ciro-AI-Labs/devops-team

fix: Resolve GitHub Actions failures and cleanup warnings
  .github/release-drafter.yml
  .github/workflows/ci.yml
  cairo-contracts/src/vesting/burn_manager.cairo
  cairo-contracts/src/vesting/linear_vesting_with_cliff.cairo
  cairo-contracts/src/vesting/milestone_vesting.cairo
Owners: @Ciro-AI-Labs/devops-team, @Ciro-AI-Labs/smart-contract-team

fix: Resolve GitHub Actions CI and test issues
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  cairo-contracts/src/governance/governance_treasury.cairo
  cairo-contracts/src/lib.cairo
Owners: @Ciro-AI-Labs/devops-team, @Ciro-AI-Labs/smart-contract-team

fix: Update Documentation CI job for new structure
  .github/workflows/ci.yml
Owners: @Ciro-AI-Labs/devops-team

refactor: Backup and remove Taskmaster AI project management data
  .gitignore
  .taskmaster/docs/prd.txt
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/task_021.txt
  .taskmaster/tasks/task_022.txt
  .taskmaster/tasks/task_023.txt
  .taskmaster/tasks/task_024.txt
  .taskmaster/tasks/task_025.txt
  .taskmaster/tasks/task_026.txt
  .taskmaster/tasks/task_027.txt
  .taskmaster/tasks/task_028.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/project-team

security: Add .next to gitignore to prevent build artifacts from being committed
  .gitignore
Owners: @Ciro-AI-Labs/core-team

deploy: Add Vercel configuration for main website and docs site
  .vercelignore
  docs/vercel.json
  vercel.json
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/docs-team

feat: Deploy documentation site and update navigation
  .next/app-build-manifest.json
  .next/cache/webpack/client-development-fallback/2.pack.gz
  .next/cache/webpack/client-development-fallback/index.pack.gz
  .next/cache/webpack/client-development/11.pack.gz
  .next/cache/webpack/client-development/17.pack.gz
  .next/cache/webpack/client-development/2.pack.gz
  .next/cache/webpack/client-development/20.pack.gz
  .next/cache/webpack/client-development/3.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/server-development/0.pack.gz
  .next/cache/webpack/server-development/1.pack.gz
  .next/cache/webpack/server-development/12.pack.gz
  .next/cache/webpack/server-development/13.pack.gz
  .next/cache/webpack/server-development/16.pack.gz
  .next/cache/webpack/server-development/3.pack.gz
  .next/cache/webpack/server-development/4.pack.gz
  .next/cache/webpack/server-development/5.pack.gz
  .next/cache/webpack/server-development/9.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/server/app-paths-manifest.json
  .next/server/app/_not-found_client-reference-manifest.js
  .next/server/app/not-found_client-reference-manifest.js
  .next/server/next-font-manifest.js
  .next/server/next-font-manifest.json
  .next/static/chunks/app/layout.js
  .next/static/chunks/app/manifesto/page.js
  .next/static/chunks/app/tokenomics/page.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  ciro-network-website/.gitignore
  ciro-network-website/next.config.js
  ciro-network-website/src/app/api/admin/waitlist/analytics/route.ts
  ciro-network-website/src/app/api/admin/waitlist/geographical/route.ts
  ciro-network-website/src/app/api/admin/waitlist/marketing/route.ts
  ciro-network-website/src/app/api/admin/waitlist/route.ts
  ciro-network-website/src/app/page.tsx
  ciro-network-website/src/app/terms/page.tsx
  ciro-network-website/src/lib/supabase-server.ts
  docs/.gitignore
  docs/vercel.json
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/docs-team

feat: Update social media links and implement Documentation dropdown
  ciro-network-website/src/app/page.tsx
  ciro-network-website/src/components/Footer.tsx
Owners: @Ciro-AI-Labs/core-team

feat: Add Discord link to coming-soon page and set up ciro.network domain
  ciro-network-website/src/app/coming-soon/page.tsx
Owners: @Ciro-AI-Labs/core-team

feat: Update tokenomics to v4.1 with new distribution and live smart contracts
  UPDATED_TOKEN_DISTRIBUTION.md
  ciro-network-website/src/app/manifesto/page.tsx
  ciro-network-website/src/app/page.tsx
  ciro-network-website/src/app/tokenomics/page.tsx
Owners: @Ciro-AI-Labs/core-team

feat: Upgrade CIRO Network to Cairo 2.12.0 with comprehensive optimizations
  cairo-contracts/Scarb.toml
  cairo-contracts/src/cdc_pool.cairo
  cairo-contracts/src/interfaces/job_manager.cairo
  cairo-contracts/src/job_manager.cairo
  cairo-contracts/src/lib.cairo
  cairo-contracts/src/reputation_manager.cairo
  cairo-contracts/src/utils/common.cairo
  cairo-contracts/src/utils/mod.cairo
Owners: @Ciro-AI-Labs/smart-contract-team

chore(security): strengthen gitignore, add backup script, and untrack sensitive files
  .cursor/mcp.json
  .gitignore
  SECURITY.md
  cairo-contracts/fresh_deployer_key
  cairo-contracts/temp_account.json
  contracts.json
  scripts/backup_artifacts.sh
Owners: @Ciro-AI-Labs/core-team, @Ciro-AI-Labs/security-team, @Ciro-AI-Labs/smart-contract-team, @Ciro-AI-Labs/devops-team

chore: align env checks to SUPABASE_SERVICE_ROLE_KEY; type-only import WaitlistEntry to avoid runtime eval of client supabase module
  ciro-network-website/src/app/api/test-supabase/route.ts
  ciro-network-website/src/components/WaitlistAdmin.tsx
Owners: @Ciro-AI-Labs/core-team

chore(vercel): set NEXT_PUBLIC_SITE_URL to https://ciro.network; fix docs host; add host-based redirect www.ciro.network -> apex
  ciro-network-website/vercel.json
Owners: @Ciro-AI-Labs/core-team

chore(vercel): add root vercel.json to build Next.js app in ciro-network-website subdir; set outputDirectory and propagate headers/redirects/env
  vercel.json
Owners: @Ciro-AI-Labs/core-team

feat(ui): rename cookie consent action to 'Confirm All'; remove public tokenomics language from landing; soften tokenomics page hero & remove badges
  ciro-network-website/src/app/page.tsx
  ciro-network-website/src/app/tokenomics/page.tsx
  ciro-network-website/src/components/CookieConsent.tsx
Owners: @Ciro-AI-Labs/core-team

ui: show 'Accept All' on cookie consent; fully remove landing tokenomics badges/text
  ciro-network-website/src/app/page.tsx
  ciro-network-website/src/components/CookieConsent.tsx
Owners: @Ciro-AI-Labs/core-team

chore(landing): remove tokenomics metrics, contract cards, governance and rewards sections from homepage
  ciro-network-website/src/app/page.tsx
Owners: @Ciro-AI-Labs/core-team

CODEOWNERS:

# ===== CIRO Network Code Owners =====

# Global ownership - Core team reviews all changes
* @Ciro-AI-Labs/core-team

# ===== Smart Contracts =====
# Cairo contracts and Starknet deployment
/cairo-contracts/ @Ciro-AI-Labs/smart-contract-team
/cairo-contracts/src/ @Ciro-AI-Labs/smart-contract-team
/cairo-contracts/tests/ @Ciro-AI-Labs/smart-contract-team
/cairo-contracts/scripts/ @Ciro-AI-Labs/smart-contract-team

# ===== Rust Infrastructure =====
# Worker nodes and backend services
/rust-node/ @Ciro-AI-Labs/rust-team
/backend/ @Ciro-AI-Labs/rust-team
/rust-node/src/ @Ciro-AI-Labs/rust-team
/rust-node/docker/ @Ciro-AI-Labs/rust-team
/backend/api/ @Ciro-AI-Labs/rust-team
/backend/services/ @Ciro-AI-Labs/rust-team

# ===== Desktop Application =====
# Tauri app and frontend
/tauri-app/ @Ciro-AI-Labs/frontend-team
/tauri-app/src/ @Ciro-AI-Labs/frontend-team
/tauri-app/src-tauri/ @Ciro-AI-Labs/frontend-team

# ===== Documentation =====
# All documentation and guides
/docs/ @Ciro-AI-Labs/docs-team
/README.md @Ciro-AI-Labs/docs-team
/CONTRIBUTING.md @Ciro-AI-Labs/docs-team
/SECURITY.md @Ciro-AI-Labs/docs-team

# ===== Infrastructure & DevOps =====
# CI/CD, Docker, and deployment
/.github/ @Ciro-AI-Labs/devops-team
/docker-compose.yml @Ciro-AI-Labs/devops-team
/Dockerfile @Ciro-AI-Labs/devops-team
/.dockerignore @Ciro-AI-Labs/devops-team
/scripts/ @Ciro-AI-Labs/devops-team

# ===== Configuration =====
# Core configuration files
/Cargo.toml @Ciro-AI-Labs/rust-team
/Cargo.lock @Ciro-AI-Labs/rust-team
/package.json @Ciro-AI-Labs/frontend-team
/tsconfig.json @Ciro-AI-Labs/frontend-team
/scarb.toml @Ciro-AI-Labs/smart-contract-team

# ===== Security & Secrets =====
# Security-related files require security team approval
/SECURITY.md @Ciro-AI-Labs/security-team
/.env.example @Ciro-AI-Labs/security-team
/cairo-contracts/src/security/ @Ciro-AI-Labs/security-team
/rust-node/src/security/ @Ciro-AI-Labs/security-team

# ===== Project Management =====
# Task Master and project planning
/.taskmaster/ @Ciro-AI-Labs/project-team
/.taskmaster/tasks/ @Ciro-AI-Labs/project-team
/.taskmaster/docs/ @Ciro-AI-Labs/project-team
